body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://github.com/Dr-Yousafkhan/website/blob/main/back.jpg');
    background-size: cover;
    color: #010101;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007BFF;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    bottom: 0;
    width: 100%;
}

.threeD-image {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
